on init
# setup the global environment
    export EXTERNAL_STORAGE /storage/sdcard0

# Backward compatibility
    mount debugfs /sys/kernel/debug /sys/kernel/debug

# create mountpoints
    mkdir /mnt/sdcard 0000 system system
    mkdir /mnt/usb 0000 system system

# Backwards Compat - XXX: Going away in G*
    symlink /mnt/sdcard /sdcard

# NETWORK: NAT setting
# To prevent out of WINDOW ACK from making
# connection tracking to treat them as INVALID packet
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1


# TODO: Remove un-necessary partition in "on emmc" section after mfgkernel
#       is ready, it should be independent to system & data partition
on emmc-fs
    mkdir /system
    mkdir /data 0771 system system
    mkdir /persist 0771 system system

    mkdir /devlog 0700 root root
    devwait emmc@devlog
    exec /sbin/e2fsck_recvy -p emmc@devlog
    mount ext4 emmc@devlog /devlog noatime nosuid nodev data=ordered

    mkdir /tombstones 0771 system system
    mkdir /tombstones/mdm 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/dsps 0771 system system

    # For firmwares
    mkdir /firmware 0771 system system
    mkdir /vendor 0771 system system
    mkdir /vendor/firmware 0771 system system

    # 8064 has only mdm, use radio partition for it.
    mkdir /firmware/mdm 0771 system system
    devwait emmc@radio
    mount vfat emmc@radio /firmware/mdm ro shortname=lower
    exec /system/bin/sh2 /init.qcom.firmware_links.sh /firmware/mdm/image /vendor/firmware "*.mbn *.img"

    mkdir /data/qcks 0700 root system
    mount tmpfs tmpfs /data/qcks size=20m,mode=0750,gid=1000

    mkdir /data/efs 0700 root system
    mount tmpfs tmpfs /data/efs size=20m,mode=0750,gid=1000

    #qmuxd require
    mkdir /data/radio 0771 radio radio
    mkdir /firmware/q6 0771 system system
    devwait emmc@adsp
    mount vfat emmc@adsp /firmware/q6 ro shortname=lower
    exec /system/bin/sh2 /init.qcom.firmware_links.sh /firmware/q6 /vendor/firmware "q6.*"

on post-fs-data
    mkdir /data/radio 0770 radio radio
    chmod 2770 /data/radio
#+SSD_RIL: from Qualcomm socket path
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 audio audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
#-SSD_RIL: from Qualcomm socket path

    # HTC add: 3LM setting on ICS
    setprop ro.3lm.production 1

    # HTC add: 3LM encryption on ICS
    setprop ro.3lm.legacy_encryption 1
    mkdir /data/secure 0755 system system
    mkdir /data/secure/data 0755 system system
    mount tmpfs tmpfs /data/secure/data mode=0755,gid=1000

	# HTC add: for customization wizard folder
	mkdir /data/data/cw 0777 root root
	mkdir /data/data/cwtemp 0777 root root

	# HTC add: double check the perms of /data/data for already existed case
	chown system system /data/data
	chmod 0771 /data/data

	# If there is no fs-post-data action in the init.<device>.rc file, you
	# must uncomment this line, otherwise encrypted filesystems
	# won't work.
	# Set indication (checked by vold) that we have finished this action
	setprop vold.post_fs_data_done 1

on boot

    # Temp disable 3 cpus to prevent heat for DLX
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    chmod 444 /sys/devices/system/cpu/cpu1/online
    chmod 444 /sys/devices/system/cpu/cpu2/online
    chmod 444 /sys/devices/system/cpu/cpu3/online

# set RLIMIT_NICE to allow priorities from 19 to -20
    setrlimit 8 268435456 268435456

# HTC SSD Camera
    chown media system /sys/camera_htccallback/htccallback
    chown media system /sys/camera_attrs/videochat

# HTC SSD USB
    chown system system /sys/class/android_usb/f_modem/on
    chown system system /sys/class/android_usb/f_diag/on
    chown system system /sys/class/android_usb/f_rmnet/on

#set diag permissions
    chown radio radio /dev/diag
    chown radio radio /dev/diag_mdm
    chown radio radio /dev/htcdiag
    chown radio radio /dev/diag_arm9
    chown radio radio /dev/btdiag
    chmod 0660 /dev/diag
    chmod 0660 /dev/diag_mdm
    chmod 0660 /dev/htcdiag
    chmod 0660 /dev/diag_arm9
    chmod 0660 /dev/btdiag

	chown root system /proc/driver/hdf
	chmod 0664 /proc/driver/hdf

#set touch permissions
    chown system system /sys/android_touch/unlock

# HTC SSD Camera
    chown media system /sys/camera_htccallback/htccallback
    chown media system /sys/camera_attrs/videochat

# Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.wifi    524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.lte     4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.umts    4094,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.hspa    4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsupa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsdpa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,11680,4096,8760,11680
    setprop net.tcp.buffersize.evdo_b  4094,87380,262144,4096,16384,262144

# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  1220608
    write /proc/sys/net/core/wmem_max  1220608

# To prevent out of order acknowledgements from making
# connection tracking to treat them as not belonging to
# the connection they belong to.
# Otherwise, a weird issue happens in which some long
# connections on high-throughput links get dropped when
# an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1


service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyHSUSB0

service mfgsrv /sbin/mfgsrv -i -t /dev/ttyHSL0 -t /dev/ttyHSUSB1
    class core
    user root
    group root
    disabled

service kickstart /system/bin/qcks -1 modem_st1 -2 modem_st2 -3 radio_config -i /vendor/firmware/
    class core
    user root
    oneshot
    disabled

service htc_ebdlogd /sbin/htc_ebdlogd_recvy -s -k -F /sbin -p V
    class core
    user root
    disabled
    oneshot
    ioprio idle 0

service mfg_htcqxdm2sd /sbin/mfg_htcqxdm2sd -d 1
    disabled
    oneshot

service servicemanager /system/bin/servicemanager
    critical
    oneshot
    disabled

service media /system/bin/mediaserver
    class main
    user root
    disabled
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc
    ioprio rt 4

on property:ro.bootmode=power_test
    devwait emmc@system
    mount ext4 emmc@system /system ro

on property:ro.bootmode=recovery
    devwait emmc@system
    mount ext4 emmc@system /system ro
    umount /system

on property:ro.mfgkernel=1
    write /sys/power/wake_lock mfgkernel

#on property:ro.bootmode=recovery
#   write /sys/devices/platform/android_usb/host_mode 1

#on property:ro.bootmode=recovery_manual
#   write /sys/devices/platform/android_usb/host_mode 1

on property:ro.9kramdump=0
    start kickstart

on property:ro.build.tags=test-keys
    start htc_ebdlogd

service hdf /sbin/hdf
    class core
	oneshot

service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw qcom_oncrpc diag

on property:dev.bootcomplete=1
    start bootcomplete

service bootcomplete /system/bin/bootcomplete
    user root
    group root
    disabled
    oneshot

service shutdown /system/bin/shutdown
    user root
    group root
    disabled
    oneshot

service charging /system/bin/charging
    user root
    group root
    disabled
    oneshot

service post-boot /system/bin/sh /system/etc/init.post_boot.sh
    user root
    oneshot