 on boot
 
    # for Invense MPU3050
    chmod 0664 /dev/mpu
    chmod 0664 /dev/mpuirq
    chmod 0664 /dev/timerirq
    chmod 0664 /sys/class/gyro_sensors/gyro/mpu_lpm_flag
    chown system system /dev/mpu
    chown system system /dev/mpuirq
    chown system system /dev/timerirq
    chown system system /sys/class/gyro_sensors/gyro/mpu_lpm_flag

    # for ST R3GD20
    chown system system /sys/class/htc_gyro/gyro/enable_device
    chown system system /sys/class/htc_gyro/gyro/pollrate_ms
    chown system system /sys/class/htc_gyro/gyro/range
    chown system system /sys/class/htc_gyro/gyro/enable_polling
    chown system system /sys/class/htc_gyro/gyro/fifo_samples
    chown system system /sys/class/htc_gyro/gyro/fifo_mode
    chown system system /sys/class/htc_gyro/gyro/reg_value
    chown system system /sys/class/htc_gyro/gyro/reg_addr
    chmod 0664 /sys/class/htc_gyro/gyro/enable_device
    chmod 0664 /sys/class/htc_gyro/gyro/pollrate_ms
    chmod 0664 /sys/class/htc_gyro/gyro/range
    chmod 0664 /sys/class/htc_gyro/gyro/enable_polling
    chmod 0664 /sys/class/htc_gyro/gyro/fifo_samples
    chmod 0664 /sys/class/htc_gyro/gyro/fifo_mode
    chmod 0664 /sys/class/htc_gyro/gyro/reg_value
    chmod 0664 /sys/class/htc_gyro/gyro/reg_addr

    # for AKM8963
    chown system system /dev/akm8963_dev
    chown system system /sys/class/compass/akm8963/enable_acc
    chown system system /sys/class/compass/akm8963/enable_mag
    chown system system /sys/class/compass/akm8963/enable_ori
    chown system system /sys/class/compass/akm8963/delay_acc
    chown system system /sys/class/compass/akm8963/delay_mag
    chown system system /sys/class/compass/akm8963/delay_ori
    chown system system /sys/class/compass/akm8963/accel
    chmod 0660 /dev/akm8963_dev
    chmod 0660 /sys/class/compass/akm8963/enable_acc
    chmod 0660 /sys/class/compass/akm8963/enable_mag
    chmod 0660 /sys/class/compass/akm8963/enable_ori
    chmod 0660 /sys/class/compass/akm8963/delay_acc
    chmod 0660 /sys/class/compass/akm8963/delay_mag
    chmod 0660 /sys/class/compass/akm8963/delay_ori
    chmod 0660 /sys/class/compass/akm8963/accel

    # for BMA250 BOSCH
    chown system system /sys/class/htc_g_sensor/g_sensor/bandwidth
    chown system system /sys/class/htc_g_sensor/g_sensor/chip_layout
    chown system system /sys/class/htc_g_sensor/g_sensor/delay
    chown system system /sys/class/htc_g_sensor/g_sensor/eeprom_writing
    chown system system /sys/class/htc_g_sensor/g_sensor/enable
    chown system system /sys/class/htc_g_sensor/g_sensor/enable_int
    chown system system /sys/class/htc_g_sensor/g_sensor/fast_calibration_x
    chown system system /sys/class/htc_g_sensor/g_sensor/fast_calibration_y
    chown system system /sys/class/htc_g_sensor/g_sensor/fast_calibration_z
    chown system system /sys/class/htc_g_sensor/g_sensor/flat_hold_time
    chown system system /sys/class/htc_g_sensor/g_sensor/flat_theta
    chown system system /sys/class/htc_g_sensor/g_sensor/get_raw_data
    chown system system /sys/class/htc_g_sensor/g_sensor/high_g_duration
    chown system system /sys/class/htc_g_sensor/g_sensor/high_g_threshold
    chown system system /sys/class/htc_g_sensor/g_sensor/int_mode
    chown system system /sys/class/htc_g_sensor/g_sensor/low_g_duration
    chown system system /sys/class/htc_g_sensor/g_sensor/low_g_threshold
    chown system system /sys/class/htc_g_sensor/g_sensor/mode
    chown system system /sys/class/htc_g_sensor/g_sensor/orient_blocking
    chown system system /sys/class/htc_g_sensor/g_sensor/orient_hyst
    chown system system /sys/class/htc_g_sensor/g_sensor/orient_mode
    chown system system /sys/class/htc_g_sensor/g_sensor/orient_theta
    chown system system /sys/class/htc_g_sensor/g_sensor/range
    chown system system /sys/class/htc_g_sensor/g_sensor/reg
    chown system system /sys/class/htc_g_sensor/g_sensor/selftest
    chown system system /sys/class/htc_g_sensor/g_sensor/set_k_value
    chown system system /sys/class/htc_g_sensor/g_sensor/slope_duration
    chown system system /sys/class/htc_g_sensor/g_sensor/slope_threshold
    chown system system /sys/class/htc_g_sensor/g_sensor/tap_duration
    chown system system /sys/class/htc_g_sensor/g_sensor/tap_quiet
    chown system system /sys/class/htc_g_sensor/g_sensor/tap_samp
    chown system system /sys/class/htc_g_sensor/g_sensor/tap_shock
    chown system system /sys/class/htc_g_sensor/g_sensor/tap_threshold
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/bandwidth
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/chip_layout
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/delay
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/eeprom_writing
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/enable
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/enable_int
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/fast_calibration_x
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/fast_calibration_y
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/fast_calibration_z
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/flat_hold_time
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/flat_theta
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/get_raw_data
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/high_g_duration
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/high_g_threshold
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/int_mode
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/low_g_duration
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/low_g_threshold
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/mode
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/orient_blocking
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/orient_hyst
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/orient_mode
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/orient_theta
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/range
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/reg
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/selftest
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/set_k_value
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/slope_duration
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/slope_threshold
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/tap_duration
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/tap_quiet
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/tap_samp
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/tap_shock
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/tap_threshold

